.App {
  text-align: center;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input-text {
  display: inline;
}
.stack-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.stack-card {
  z-index: 4;
  display: flex;
  height: 100px;
  width: 300px;
  margin: 10px;
  padding: 10px;
  border: 3px solid black;
  justify-content: space-evenly;
  align-items: center;
}
.stack-thumb {
  height: inherit;
}

.stack-card > button {
  height: 25px;
  z-index: 5;
}

.comic-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.comic-card {
  z-index: 4;
  display: flex;
  height: 100px;
  width: 300px;
  margin: 10px;
  padding: 10px;
  border: 3px solid black;
  justify-content: space-evenly;
  align-items: center;
}
.comic-cover {
  height: inherit;
}

.comic-card > button {
  height: 25px;
  z-index: 5;
}
.add-creator {
  display: flex;
}
.creator-card-container {
  display: flex;
}
.creator-card {
  display: flex;
}

.comic-details-container {
  width: 600px;
}
.cover {
  width: inherit;
}

.back-container {
  display: flex;
  align-self: flex-start;
}
.creators-ul {
  font-size: 24px;
  display: flex;
  flex-direction: row;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.creators-ul > li {
  font-size: 20px;
  border: black solid 1px;
  margin: 5px;
  padding: 5px;
}
